<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center">Add Banner</h2>
            <form action="/admin/add-banner" method="POST" enctype="multipart/form-data" id="add-banner">
              <div class="form-group">
               <label for="name">Name</label>
               <input type="text" name="name" class="form-control">
              </div>
              <div class="form-group">
               <label for="source">Source</label>
               <input type="text" name="source" class="form-control">
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <img src="" alt="" style="width:222px;height:100px;" id="imgView" class="pb-1">
                <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="customFile" onchange="viewImage(event)">
                <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
               <button type="submit" class="btn btn-success">Submit</button>
            </form>
         </div>
      </div>
   </div>
</section>




<script>
   function viewImage(event)
   {
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
   }
</script>