<section>
   <div class="container mt-4">
      <div class="row">
         <div class="col-md-6">
            <h2 class="text-center">Add Product</h2>
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data" id="add-product">
              <div class="form-group">
               <label for="name">Name</label>
               <input type="text" name="name" class="form-control">
              </div>
              <div class="form-group">
               <label for="category">Category</label>
               <select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect">
                  <option selected value="">Choose...</option>
                  {{#each categories}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
              </select>
              </div>
              <div class="form-group">
               <label for="variant">Variant</label>
               <input type="text" name="variant" class="form-control">
              </div>
              <div class="form-group">
               <label for="price">Price</label>
               <input type="number" name="price" class="form-control">
              </div>
              <div class="form-group">
               <label for="description">Description</label>
               <input type="text" name="description" class="form-control">
              </div>
              <div class="form-group">
               <label for="image">Image</label>
               <img src="" alt="" style="width:100px;height:100px;" id="imgView" class="pb-1">
               <input type="file" name="image" class="form-control" onchange="viewImage(event)">
              </div>
               <button type="submit" class="btn btn-success">Submit</button>
            </form>
         </div>
      </div>
   </div>
</section>




<script>
   function viewImage(event)
   {
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
   }
</script>