<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center">Add Product</h2>
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data" id="add-product">
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control">
               </div>
               <div class="form-group">
                  <label for="variant">Variant</label>
                  <input type="text" name="variant" class="form-control">
               </div>
               <div class="form-group">
                  <label for="category">Category</label>
                  <select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect">
                     <option selected value="">Choose...</option>
                     {{#each categories}}
                     <option value="{{this._id}}">{{this.name}}</option>
                     {{/each}}
                  </select>
               </div>
               <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" name="price" class="form-control">
               </div>
               <div class="form-group">
                  <label for="description">Description</label>
                  <textarea rows="5" type="text" name="description" class="form-control"></textarea>
               </div>
               <div class="form-group">
                  <label for="image">Image</label>
                  <img src="" alt="" style="width:100px; height:100px;" id="imgView" class="pb-1" hidden>
                  <div class="custom-file">
                     <input type="file" name="image" class="custom-file-input" id="customFile"
                        onchange="viewImage(event)">
                     <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                  <span id="imageErr"></span>
               </div>
               <div class="custom-control custom-checkbox pb-3">
                  <input type="checkbox" name="stock" value="true" class="custom-control-input" id="customCheck1"
                     checked>
                  <label class="custom-control-label" for="customCheck1">In Stock</label>
               </div>
               <button type="submit" class="btn btn-success">Submit</button>
            </form>
         </div>
      </div>
   </div>
</section>




<script>
   function viewImage(event) {
      document.getElementById('imgView').removeAttribute("hidden")
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
   }
</script>