<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
               Shopping Cart is a dynamic shopping website that gives a large collection of genuine and quality products in affordable price. You can buy the products that you need on this website in different categories.<br>
               There are:<br>
               <ul>
               <li>Smart Phones</li>
               <li>Laptops</li>
               <li>Tablets</li>
               <li>Headphones</li>
               <li>Speakers</li>
               <li>Televisions</li>
               <li>Electronic Accessories, etc...</li>
               </ul>
               <h6>How to Order products?</h6>
               <ol>
               <li>Select products that you want to order.</li>
               <li>You can buy it by clicking buy Now or Add to Cart if stock.</li>
               <li>You can choose your delivery informations such as Name, Mobile, Address and Pincode.</li>
               <li>The next page will ask to you payment method. You can pay thorough Online or also available Cash On Delivery and click Place Order.</li>
               <li>After order products you will receive a confirmation call. You must attend that call and confirm your order or cancel otherwise the product will cancelled automatically.</li>
               <li>You can also track your delivery information in your view order page.</li>
               <li>The products will deliver to your home with in a few days.</li>
               </ol>
         </div>
      </div>
   </div>
</section>