<section>
   <div class="container">
      <table class="table mt-5">
         <thead>
            <tr>
               <th scope="col">Item</th>
               <th scope="col">Title</th>
               <th scope="col">Quantity</th>
            </tr>
         </thead>
         <tbody>
            {{#each products}}
            <tr>
               <td><img src="/product-images/{{this._id}}.jpg" alt="{{this.name}}" style="width:70px;height:70px"></td>
               <td>{{this.name}}</td>
               <td>
                  <button class="cart-item-count btn btn-secondary mr-3">+</button>1<button class="cart-item-count btn btn-secondary ml-3">-</button>
               </td>
               <td>
                  <a href="" class="btn btn-danger">Remove</a>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</section>