<section>
   <div class="container mt-3">
      <div class="row">
         <div class="col-md-12 text-center mt-3">
         <h5>Order Placed Successfully</h5>
         <a href="/orders" class="btn btn-primary mt-2">View Orders</a>
         </div>
      </div>
   </div>
</section>